@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@font-face {
    font-family: "Monument";
    src: local("Monument"),
      url("/fonts/MonumentExtended-Regular.otf") format("truetype");
    font-weight: bold;
  }

body {   
    background-color: #0B090C!important;    
    color: white!important;
    font-family: "Viga", sans-serif;
}


h1, *{
    font-family: "Monument";
}

.sectionbets {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: progress;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 35px;
    height: 35px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@media (max-width: 990px){
  .mobile-hidden{
    display: none!important;
  }
}

@media (min-width: 991px){
  .desktop-hidden{
    display: none!important;
  }
}